@charset "UTF-8";

/* 删除常用联系人弹框 */

#delete-contact-per-popups{
    position:absolute;
    background:#fff;
    z-index:100; min-height:280px;
    width:520px;  overflow:auto;
}

#delete-contact-per-main{
    width:60%;
    margin: 20px auto 0 auto;
}

#confirm-del-tips-font{
    font-size:16px; height:40px;
    line-height:40px;
    text-align:center;
    letter-spacing: 1px;
    margin-bottom:10px;
}

#save-del-li-wall{
    width:96%; margin:auto;
    font-size:13px;
}
#save-del-li-wall li{
    margin-top: 2px;
    height: 28px;
    font-size: 13px;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 1px solid #f6f6f6;
}
#save-del-li-wall li span{
    float: left;
    overflow: hidden;
    height: 100%;
    text-align: center;
    line-height: 28px;
}


.del-popups-btn-wall{
    height:36px; line-height:36px;
    margin-top:30px; margin-bottom:30px;
}
.del-popups-btn-wall span{
    width:36%;
    border-radius:4px;
    background:#1198E3;
    cursor:pointer;
}

#del-cont-per-popups-close-btn{
    float:right; position:relative;
    margin-right:10px; margin-top:12px;
    width:20px; height:20px;
    overflow:hidden; cursor:pointer;
}

#del-per-confirm-btn{
    float:left; margin-left:6%;
}
#del-per-cancel-btn{
    float:right; margin-right:6%;
}